.recording-listings {
    overflow: scroll;
    height: 650px;
    width: 100%;
    overflow: auto
}

#result-table td {
    padding: 0 1em 0.5em 0;
}

#recording-table {
    table-layout: fixed;
    width: 100%;
    overflow: hidden;
}

#recording-table td {
    padding: 1em;
}

#recording-table td div {
    text-align: center;
}

#recording-upload-date {
    padding-bottom: .5em;
}

#recording-title {
    font-size: .75em;
}